input[type=button] {
    background: #c850c0;
    background: -webkit-linear-gradient(45deg,#4158d0,#c850c0);
    background: -o-linear-gradient(45deg,#4158d0,#c850c0);
    background: -moz-linear-gradient(45deg,#4158d0,#c850c0);
    background: linear-gradient(45deg,#4158d0,#c850c0);
    color: white;
    width: 10%;
    height : 5%;
    margin-top: 1px;
      margin-right: 1000px;
    
    

    }
    h1{
        border: 5px solid white;
        color: white;
        


        }

    body {
    width: 100%;
min-height: 100vh;
background: #c850c0;
background: -webkit-linear-gradient(45deg,#4158d0,#c850c0);
background: -o-linear-gradient(45deg,#4158d0,#c850c0);
background: -moz-linear-gradient(45deg,#4158d0,#c850c0);
background: linear-gradient(45deg,#4158d0,#c850c0);



} 

table{
    margin: 0;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
background-color: #fff;
border-collapse: separate;
border-spacing: 0px;
border-radius: 14px;
width: 1170px;

    }

table > tr:last-child > td:first-child {
    border-top-left-radius: 17px;
}



table > tr:last-child > td:last-child {
    border-top-right-radius: 17px;
}



table > tr:last-child td:first-child {
    border-bottom-left-radius: 17px;
}



table > tr:last-child td:last-child {
    border-bottom-right-radius: 17px;
}


thead{
    margin: 0;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: white;
background-color: grey;
}
